<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <div th:fragment="header">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a th:href="@{/}">
                        <img th:src="@{/pages/img/logos/logo.png}" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler" style="width: 19px; height: 19px;">
                        <span></span> <!--style="top: 8px;"-->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" style="width: 19px; height: 19px;">
                    <span></span> <!--style="top: 1px;"-->
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->

            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
    </div>
</body>
</html>